@media (max-width: 1200px){
    .conteiner{
        max-width: 980px;
    }
}
@media (max-width: 992px){
    .conteiner{
        max-width: 95%;
    }
    .header__navlink{
        margin-left: 5%;
    }
}
@media (max-width: 880px){
    .content_section_3__find_properties{
        padding-left: 0;
    }
    .content_section_3__find_buyers{
        padding-left: 20px;
    }
    .card_project{
        width: 30%;
        justify-content: space-between;
    }
    .card_content__title{
        margin-top: 10px;
    }

}
@media (max-width: 768px){
    .header__logo{
        flex: 1;
    }
    .header__navlink{
        display: none;
    }
    .header__button{
        display: none;
    }
    .navbar_menu{
        display: flex;
    }
    .hero__title{
        font-size: 42px;
    }
    .hero__subtitle{
        margin-top: 15px;
        font-size: 28px;
    }
    .hero__button{
    padding: 20px 32px;
    }
    .block_nav__item{
        font-size: 28px;
        padding-bottom: 40px;
    }
    .block_nav__item::before{
        font-size: 28px;
        width: 50px;
        height: 50px;
    }
    .content_section_2__block_content_text{
        margin-left: 30px;
    }
    .comment {
        max-width: 300px;
    }

}
@media (max-width: 670px){
    .content_section_1__img_title{
        margin-top: 25px;
    }
    .content_section_1__title{
        margin-bottom: 40px;
    }
    .content_section_3__img{
        margin-right: 15px;
    }
    .content_section_3__text{
        font-size: 13px;
    }
    .block_nav__item{
        font-size: 24px;
        padding-bottom: 40px;
    }
    .block_nav__item::before{
        font-size: 28px;
        width: 50px;
        height: 50px;
    }
    .from{
        left: 30%;
    }
    .card_content__link{
        margin-top: 10px;
        font-size: 13px;
    }

}
@media (max-width: 578px){
    .block_nav__item{
        font-size: 22px;
        padding-bottom: 20px;
    }
    .block_nav__item::before{
        font-size: 24px;
        width: 40px;
        height: 40px;
    }
    .content_section_3__img{
        display: none;
    }
    .content_section_3__block_text{
        width: 100%;
    }
    .comment{
        padding: 15px;
        max-width: 260px;
    }
    .comment__title{
        font-size: 18px;
    }
}
@media (max-width: 480px){
    .content_section_2__block_nav{
        align-items: left;
        flex-direction: column;
        border: none;
    }
    .block_nav__item{
        justify-content: left;
        padding-bottom: 10px;
        padding-left: 20%;
    }
    .block_nav__item:not(:last-child){
        margin-bottom: 20px;
    }
}
@media (max-width: 320px){
    .conteiner{
        width: 100%;
    }
    .header__logo{
        flex: 1;
    }
    .header__logo_img{
        display: block;
        width: 50%;
    }
    .header__navlink{
        display: none;
    }
    .header__button{
        display: none;
    }
    .navbar_menu{
        display: flex;
    }
    .hero__block{
        text-align: center;
    }
    .hero__title {
        font-size: 35px;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .hero__button {
        padding: 20px 32px;
        font-size: 16px;
    }
    .hero__nav_buttons{
        justify-content: center;
    }
    .content_section_1__img_title{
        margin-top: 30px;
    }
    .content_section_1__title{
        margin-bottom: 30px;
        font-size: 25px;
    }
    .content_section_1__block_text{
        font-size: 13px;
    }
    .content_section_2__block_nav{
        flex-direction: column;
    }
    .block_nav__item{
        justify-content: left;
        padding-bottom: 15px;
        font-size: 25px;
    }
    .block_nav__item:not(:last-child){
        margin-bottom: 10px;
    }
    .block_nav__item::before{
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
    .content_section_2__block_content_img{
        display: none;
    }
    .content_section_3 {
        background: linear-gradient(to top,#e2f8ff 50%, #f5f9eb 50%);
    }
    .content_section_3__block{
        flex-direction: column;
        padding-top: 20px;
    }
    .content_section_3__find_properties{
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .content_section_3__img{
        margin-right: 0;
    }
    .content_section_3__block_text{
        width: 100%;
    }
    .content_section_3__title {
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .content_section_3__text{
        font-size: 13px;
    }
    .content_section_3__button{
        margin-bottom: 15px;
    }
    .content_section_3__find_buyers{
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .content_section_4__block_text{
        flex-direction: column;
        margin-top: 20px;
    }
    .content_section_4__block_title{
        max-width: 100%;
        margin-bottom: 15px;
    }
    .content_section_4__title{
        font-size: 25px;
    }
    .content_section_4__text{
        font-size: 13px;
    }
    .content_section_4__block_content{
        flex-direction: column;
    }
    .card_project{
        width: 100%;
        height: 335px;
    }
    .card_project:not(:last-child){
        margin-bottom: 15px;
    }
    .card_img{
        height: 100px;
    }
    .from{
        display: none;
    }
    .card_content__title{
        margin-top: 8px;
    }
    .card_content__progressbar{
        margin-top: 10px;
    }
    .card_content__link{
        margin-top: 10px;
    }
    .content_section_5__title{
        font-size: 25px;
    }
    .content_section_5__subtitle{
        font-size: 13px;
    }
    .content_section_5__block_content{
        flex-direction: column;
    }

}